<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${hotel.hotelName}">酒店</title>
    <!-- CSS模板-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/css/index/theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/fontawesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/solid.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/brands.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/datepicker/daterangepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/css/example.css}"/>
</head>
<body>
<!--菜单-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded py-4 fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}"><strong>SEU </strong>Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_example_1"
                aria-controls="navbar_example_1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar_example_1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">首页</a>
                </li>
                <li class="nav-item" th:if="${session.user == null}">
                    <a class="nav-link" th:href="@{/user}">
                        <i class="fa-solid fa-user"></i>
                        <span>登陆/注册</span>
                    </a>
                </li>
                <li class="nav-item dropdown" th:if="${session.user != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar_1_dropdown_3"
                       role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                        <span th:text="'您好,'+${session.user.userName}">用户姓名</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" th:href="@{/user/booking}">
                            <span class="float-right badge badge-primary" th:text="${session.bookNum}">0</span>
                            <i class="fa-solid fa-envelope text-primary"></i>订单
                        </a>
                        <a class="dropdown-item" th:href="@{/user/info}">
                            <i class="fa-solid fa-gear text-primary"></i>设置
                        </a>
                        <div class="dropdown-divider" role="presentation"></div>
                        <a class="dropdown-item" th:href="@{/user/logout}">
                            <i class="fas fa-sign-out-alt text-primary"></i>退出登陆
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">关于我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/A-BigTree">
                        <i class="fa-brands fa-github fa-2x"></i>
                        <span class="ml-2 d-lg-none">GitHub</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blog.csdn.net/weixin_53580595">
                        <i class="fa-solid fa-blog fa-2x"></i>
                        <span class="ml-2 d-lg-none">CSDN</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="main">
    <!--主界面-->
    <section class="slice">
        <div class="container" id="search">
            <!--地点导航-->
            <div class="row mt-5">
                <div class="col">
                    <ul style="display: inline-block">
                        <li style="display: inline-block">
                            <a th:href="@{/}">首页&gt;</a>
                        </li>
                        <li style="display: inline-block" th:each="cityP:${parentCities}">
                            <a th:href="@{/hotel/search(dest=${cityP.cityId},date=${session.options.dateInOut},people=${session.options.peopleNum},rooms=${session.options.roomNum},page=1)}"
                               th:text="${cityP.cityName} + '&gt;'">
                                城市名称
                            </a>
                        </li>
                        <li style="display: inline-block">
                            <a th:text="${hotel.hotelName}">
                                现在城市
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--结果主页-->
            <div class="row mt-2">
                <!--左侧菜单-->
                <div class="col-4">
                    <input type="hidden" th:value="${options}" id="options">
                    <input type="hidden" th:value="@{/static/seu_hotel/json/city.json}" id="cityJson">
                    <input type="hidden" th:value="@{/hotel/search}" id="submitUrl">
                    <input type="hidden" th:value="@{/booking/add}" id="infoUrl">
                    <input type="hidden" th:value="@{/hotel/rooms}" id="submitUrl2">
                    <input type="hidden" th:value="@{/user}" id="userLogin">
                    <input type="hidden" th:value="@{/user/info}" id="userInfo">
                    <!--搜索框-->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="card text-center card-pricing popular">
                                <div class="card-header text-left">
                                    <h4>酒店特价搜不停</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group mb-0">
                                        <div class="input-group input-group-transparent mb-0">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fa-solid fa-search"></i></span>
                                            </div>
                                            <label for="search_dest"></label>
                                            <input type="text"
                                                   class="form-control"
                                                   placeholder="目的地"
                                                   v-model="dest_input" @blur="clickInputOut()"
                                                   id="search_dest" @click="clickInput()">
                                        </div>
                                    </div>
                                    <div class="card mt-0 pre-scrollable" v-if="isSearch">
                                        <div class="list-group" v-for="(city, index) in cities">
                                            <a href="javascript:void(0)" @click="selectedDest(index)"
                                               class="list-group-item list-group-item-action d-flex align-items-center">
                                                <div class="list-group-content">
                                                    <div class="list-group-heading">
                                                        {{city.city}}
                                                        <span><small>{{city.desc}}</small></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div v-if="isOk">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <span class="alert-inner--icon"><i class="fas fa-times"></i></span>
                                            <span class="alert-inner--text">&nbsp;请选择目的地！</span>
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-4"></div>
                                    <div class="form-group">
                                        <div class="input-group input-group-transparent mb-4"
                                             id="timeBucket">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa-solid fa-calendar"></i>
                                        </span>
                                            </div>
                                            <label for="date_input"></label>
                                            <input id="date_input"
                                                   type="text" class="form-control"
                                                   name="datefilter"
                                                   placeholder="入住日期-退房日期">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-transparent mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa-solid fa-user"></i>
                                                </span>
                                            </div>
                                            <label for="people_num"></label>
                                            <input type="text" class="form-control text-center"
                                                   placeholder="居住人数" v-model="peo_num"
                                                   id="people_num" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary"
                                                        type="button" @click="peo_plus()">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                                <button class="btn btn-outline-secondary"
                                                        type="button" @click="peo_minus()">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-transparent mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa-solid fa-bed"></i>
                                                </span>
                                            </div>
                                            <label for="room_num"></label>
                                            <input type="text" class="form-control text-center"
                                                   placeholder="房间人数" v-model="room_num"
                                                   id="room_num" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary"
                                                        type="button" @click="room_plus()">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                                <button class="btn btn-outline-secondary"
                                                        type="button" @click="room_minus()">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <button type="button" @click="searchHotels()"
                                            class="btn btn-primary">
                                        查酒店
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--右侧信息-->
                <div class="col-8">
                    <!-- 基本信息-->
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <h3 th:text="${hotel.hotelName}">酒店名称</h3>
                            </div>
                            <div class="row">
                                <span th:if="${hotel.star&gt;0}">
                                <i class="fa-solid fa-star"
                                   style="color: #e7cb13;"
                                   th:each="i:${#numbers.sequence(1,hotel.star)}"></i>
                                </span>
                            </div>
                            <div class="row">
                                <small th:text="${hotel.address}"></small>
                            </div>
                        </div>
                        <div class="col-4 text-right" th:if="${hotel.point&gt;0}">
                            <span class="float-right badge badge-primary"
                                  th:text="${hotel.point}">
                                评分
                            </span>
                        </div>
                    </div>
                    <!--图片展示-->
                    <div class="row mt-4">
                        <div class="col">
                            <div class="row text-center">
                                <div class="col-4 mr-0" th:if="${#lists.size(hotel.hotelImages)&gt;2}">
                                    <div class="row">
                                        <div class="col" style="width: 100%;height: 100%;">
                                            <img th:src="${hotel.hotelImages[1].path}"
                                                 class="img-fluid" alt="" src="">
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col">
                                            <img th:src="${hotel.hotelImages[2].path}"
                                                 class="img-fluid" alt="" src="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col">
                                            <img th:src="${hotel.hotelImages[0].path}"
                                                 class="img-fluid" alt="" src="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4" th:if="${#lists.size(hotel.hotelImages)&gt;3}">
                                <div class="col">
                                    <div class="card-group">
                                        <div class="card" style="overflow: hidden;height: 100px;"
                                             th:each="i:${#numbers.sequence(3, #lists.size(hotel.hotelImages) - 1)}">
                                            <img th:src="${hotel.hotelImages[i].path}" alt="" src=""
                                                 class="card-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--酒店描述-->
            <div class="row mt-4">
                <div class="col-8 mt-4">
                    <div class="row">
                        <h3>酒店描述</h3>
                    </div>
                    <div class="row" th:each="description:${hotel.descriptions}">
                        <p th:text="${description.description}">描述</p>
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <div class="card text-center bg-secondary">
                        <a href="#booking" class="btn btn-primary">
                            现在预定
                        </a>
                    </div>
                </div>
            </div>
            <!--空房描述-->
            <div class="row mt-4" id="booking">
                <div class="col">
                    <div class="row mb-2">
                        <h3>
                            空房情况
                        </h3>
                    </div>
                    <!--房间筛选-->
                    <div class="row mb-2">
                        <span class="badge badge-lg badge-pill badge-secondary text-uppercase">
                            房间筛选
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <div class="input-group input-group-transparent mb-4"
                                     id="timeBucket2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa-solid fa-calendar"></i>
                                        </span>
                                    </div>
                                    <label for="date_input2"></label>
                                    <input id="date_input2"
                                           type="text" class="form-control"
                                           name="datefilter"
                                           placeholder="入住日期-退房日期">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <div class="input-group input-group-transparent mb-4">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa-solid fa-user"></i>
                                                </span>
                                    </div>
                                    <label for="people_num2"></label>
                                    <input type="text" class="form-control text-center"
                                           placeholder="居住人数" v-model="peo_num2"
                                           id="people_num2" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary"
                                                type="button" @click="peo_plus2()">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                        <button class="btn btn-outline-secondary"
                                                type="button" @click="peo_minus2()">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <div class="input-group input-group-transparent mb-4">
                                    <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa-solid fa-bed"></i>
                                                </span>
                                    </div>
                                    <label for="room_num2"></label>
                                    <input type="text" class="form-control text-center"
                                           placeholder="房间人数" v-model="room_num2"
                                           id="room_num2" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary"
                                                type="button" @click="room_plus2()">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                        <button class="btn btn-outline-secondary"
                                                type="button" @click="room_minus2()">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!--提示信息-->
                            <div class="row">
                                <div class="col">
                                    <div v-if="v_options!=null">
                                        <div v-if="v_options.dateInOut == ''">
                                            <h4 class="text-danger">请选择入住日期!!!</h4>
                                        </div>
                                        <div v-else>
                                            <div v-if="rooms.length==0">
                                                <h4>暂无可预定房间，请更改筛选条件</h4>
                                            </div>
                                            <div v-else>
                                                <h4>可选房间:{{rooms.length}}间</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--表格-->
                            <table class="table table-hover align-items-center" v-if="rooms.length!=0">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">
                                        客房类型
                                    </th>
                                    <th scope="col" class="text-center">
                                        客人数
                                    </th>
                                    <th scope="col" class="text-center">
                                        房间最大容量
                                    </th>
                                    <th scope="col" class="text-center">
                                        剩余房间
                                    </th>
                                    <th scope="col" class="text-center">
                                        价格(×{{v_options.bookDays}}晚×{{v_options.roomNum}}间)
                                    </th>
                                    <th scope="col" th:if="${session.user!=null}" class="text-center">
                                        预定
                                    </th>
                                    <th scope="col" th:if="${session.user==null}" class="text-center">
                                        <form th:action="@{/user}">
                                            <button type="submit"
                                                    class="btn btn-primary btn-animated btn-animated-y">
                                                <span class="btn-inner--visible">预订请先登陆</span>
                                                <span class="btn-inner--hidden">
                                                    <i class="fa-solid fa-globe"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(room,index) in rooms">
                                    <td>
                                        <h6>{{room.roomName}}</h6>

                                        <p th:if="${session.user!=null}">
                                            <span class="badge badge-dot mr-2 text-dark" v-for="desc in room.descriptions">
                                                <i class="bg-green"></i>{{desc.description}}
                                            </span>
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        <i class="fa-solid fa-user"
                                           v-for="index of v_options.peopleNum"></i>
                                    </td>
                                    <td class="text-center">
                                        {{room.peopleNum}}人
                                    </td>
                                    <td class="text-center">
                                        {{room.roomNum}}间
                                    </td>
                                    <td class="text-center">
                                        {{room.price*v_options.bookDays*v_options.roomNum}}￥
                                    </td>
                                    <td th:if="${session.user!=null}" class="text-center">
                                        <button type="button" :data-id="index" @click="checkBook"
                                                class="btn btn-primary btn-animated btn-animated-y" :disabled="canBook">
                                            <span class="btn-inner--hidden">预定</span>
                                            <span class="btn-inner--visible"><i class="fas fa-shopping-cart"></i></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- ModalLoad -->
                            <div class="modal modal-info" id="modalLoad" tabindex="-1" role="dialog"
                                 aria-labelledby="modalLoad" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="py-3 text-center">
                                                <i class="fa-solid fa-spinner fa-spin fa-4x"></i>
                                                <h4 class="heading mt-4">正在预定Loading...</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ModalError -->
                            <div class="modal modal-danger" id="modalError" tabindex="-1" role="dialog"
                                 aria-labelledby="modalError" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modal_title_6">出错Error!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="py-3 text-center">
                                                <i class="fas fa-exclamation-circle fa-4x"></i>
                                                <h4 class="heading mt-4">{{errorTitle}}</h4>
                                                <p>
                                                    {{errorMessage}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                                                确定
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ModalInfo -->
                            <div class="modal modal-primary" id="modalInfo" tabindex="-1" role="dialog"
                                 aria-labelledby="modalInfo" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog" role="document"  th:if="${session.user!=null}"
                                     v-if="selectedRoom!=null">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">请确定信息</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="py-3 text-left">
                                                <i class="fa-solid fa-circle-info fa-4x"></i>
                                                <h4 class="heading mt-4">预定信息</h4>
                                                <h6 class="text-white" th:text="'姓名:' + ${session.user.userName} + ',&nbsp;联系方式:' + ${session.user.phoneNumber}">
                                                    用户信息
                                                </h6>
                                                <h6 class="text-white" th:text="'酒店:' + ${hotel.hotelName}">
                                                    酒店名称
                                                </h6>
                                                <h6 class="text-white">
                                                    房间:{{selectedRoom.roomName}},&nbsp;时间:{{v_options.dateInOut}}共{{v_options.bookDays}}晚
                                                </h6>
                                                <h6 class="text-white">
                                                    入住人数(单间):{{v_options.peopleNum}}人,&nbsp;房间数:{{v_options.roomNum}}间,&nbsp;价格:{{selectedRoom.price*v_options.bookDays*v_options.roomNum}}￥
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" @click="submitBook()"
                                                    class="btn btn-secondary">
                                                确定
                                            </button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                取消
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ModalSuccess -->
                            <div class="modal modal-success" id="modalSuccess" tabindex="-1" role="dialog"
                                 aria-labelledby="modalSuccess" aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">预定信息</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="py-3 text-center">
                                                <i class="fa-solid fa-check fa-bounce fa-4x"></i>
                                                <h4 class="heading mt-4">预定成功！</h4>
                                                <p>
                                                    {{errorMessage}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-secondary" th:href="@{/user/booking}">
                                                查看订单
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--政策描述-->
            <div class="row mt-4">
                <div class="col">
                    <div class="row mb-4">
                        <h3>
                            入住政策
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table align-items-center table-striped">
                                <tr th:each="policy:${hotel.policies}">
                                    <th th:text="${policy.pTitle}">政策标题</th>
                                    <td th:text="${policy.pDesc}">政策描述</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--Boomerang theme js-->
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/nouislider.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/theme.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/datepicker/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/datepicker/daterangepicker.js}"></script>
<!--Vue3 + Axios-->
<script th:src="@{/static/seu_hotel/script/vue.global.js}"></script>
<script th:src="@{/static/seu_hotel/script/axios.min.js}"></script>
<!--日期选择函数-->
<script type="text/javascript">
    const timeElapsed = Date.now();
    const today = new Date(timeElapsed);
    $(function () {
        let datefilter = $('input[name="datefilter"]');
        datefilter.daterangepicker({
            autoUpdateInput: false,
            minDate: today,
            autoApply: true,
            showDropdowns: true,
            locale: {
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                    '七月', '八月', '九月', '十月', '十一月', '十二月']
            }
        });

        datefilter.on('apply.daterangepicker', function (ev, picker) {
            if(picker.startDate.format('MM/DD/YYYY')!==picker.endDate.format('MM/DD/YYYY')){
                $(this).val(picker.startDate.format('MM/DD/YYYY') + '-' + picker.endDate.format('MM/DD/YYYY'));
            }
        });
        datefilter.on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    });
</script>
<!--Vue绑定函数-->
<script type="text/javascript">
    const city_json = document.getElementById("cityJson").value;
    const url_goto = document.getElementById("submitUrl").value;
    const url_goto2 = document.getElementById("submitUrl2").value;
    const optionsStr = document.getElementById("options").value;
    const options = JSON.parse(optionsStr);

    function searchHotel(city, dest, dateInOut, people_num, room_num, page) {
        window.location.href = url_goto + "?city=" + city + "&dest=" + dest +
            "&date=" + dateInOut + "&people=" + people_num +
            "&rooms=" + room_num + "&page=" + page;
    }

    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    const {createApp} = Vue;
    const app = createApp({
        data() {
            return {
                // 继承搜索
                cities: [],
                city_data: [],
                selected_key: -1,
                dest_input: "",
                dest_city: "",
                isComplete: false,
                peo_num: "2 人",
                room_num: "1 间",
                peo_key: 2,
                room_key: 1,
                peo_num2: "2 人",
                room_num2: "1 间",
                peo_key2: 2,
                room_key2: 1,
                isSearch: false,
                isOk: false,
                // 搜索传参
                v_options: null,
                // 房间列表
                rooms: [],
                selectedRoom: null,
                errorTitle: "",
                errorMessage: "",
                // 预订控制
                canBook: false
            }
        },
        mounted() {
            axios({
                method: 'GET',
                url: city_json
            }).then((response) => {
                if (response.status === 200) {
                    this.city_data = response.data;
                }
            }).catch(function (error) {
                console.log(error);
            });
            this.selected_key = options.dest;
            this.peo_num = options.peopleNum + " 人"
            this.room_num = options.roomNum + " 间";
            this.peo_key = options.peopleNum;
            this.room_key = options.roomNum;
            this.peo_num2 = options.peopleNum + " 人"
            this.room_num2 = options.roomNum + " 间";
            this.peo_key2 = options.peopleNum;
            this.room_key2 = options.roomNum;
            this.infoUrl = document.getElementById("infoUrl").value;
            this.v_options = JSON.parse(optionsStr);
            this.v_options.dateIn = null;
            this.v_options.dateOut = null;
            this.selectedRoom = null;
            this.errorTitle = "";
            this.errorMessage = "";
            document.getElementById("date_input").value = options.dateInOut;
            document.getElementById("date_input2").value = options.dateInOut;
            if (options.dateInOut !== '') {
                document.getElementById("date_input").setAttribute("placeholder", options.dateInOut);
                document.getElementById("date_input2").setAttribute("placeholder", options.dateInOut);
            }
            if(this.v_options.dateInOut!==""){
                this.searchRooms();
            }
            // 监听筛选条件
            $("#date_input2").on("apply.daterangepicker", (ev, picker) => {
                const startDate = picker.startDate, endDate = picker.endDate;
                const startStr1 = startDate.format("YYYY-MM-DD"),
                    endStr1 = endDate.format("YYYY-MM-DD"),
                    starStr2 = startDate.format('MM/DD/YYYY'),
                    endStr2 = endDate.format('MM/DD/YYYY');
                if (startStr1 === endStr1) {
                    document.getElementById("date_input2").value = ""
                    this.v_options.dateInOut = "";
                    this.v_options.bookDays = 1
                    document.getElementById("date_input2").setAttribute("placeholder", "入住日期-退房日期");

                } else {
                    let startDate1 = new Date(startStr1);
                    let endDate1 = new Date(endStr1);
                    this.v_options.dateInOut = starStr2 + '-' + endStr2;
                    this.v_options.bookDays = (endDate1 - startDate1) / (24 * 60 * 60 * 1000)
                    this.canBook = true;
                    this.searchRooms();
                    this.canBook = false;
                }
            });
        },
        methods: {
            searchDest: function (dest) {
                const res_list = [];
                const patten1 = new RegExp(dest);
                const patten2 = new RegExp("[" + dest + "]");
                for (let i = 0; i < this.city_data.length; i++) {
                    if (patten1.test(this.city_data[i].city)) {
                        res_list.push(this.city_data[i]);
                    }
                }
                if (res_list.length < 0) {
                    for (let i = 0; i < this.city_data.length; i++) {
                        if (patten2.test(this.city_data[i].city)) {
                            res_list.push(this.city_data[i]);
                        }
                    }
                }
                res_list.push("#");
                this.cities = res_list;
                this.cities.pop();
            },
            selectedDest: function (index) {
                this.isComplete = true;
                const city = this.cities[index];
                this.selected_key = city.key;
                this.dest_city = city.city + "," + city.desc;
                this.cities.splice(0, this.cities.length);
                this.dest_input = city.city + " " + city.desc;

            },
            clickInput: function () {
                this.isSearch = true;
                this.isOk = false;
                if (this.dest_input === "") {
                    this.cities = [
                        {"city": "北京市", "desc": "北京市", "key": 1101},
                        {"city": "上海市", "desc": "上海市", "key": 3101},
                        {"city": "深圳市", "desc": "广东省", "key": 4403},
                        {"city": "杭州市", "desc": "浙江省", "key": 3301}
                    ];
                } else {
                    this.searchDest(this.dest_input);
                }
            },
            clickInputOut: function () {
                sleep(500).then(() => {
                    this.isSearch = false;
                    if (!this.isComplete && this.dest_input !== "") {
                        if (this.cities.length > 0) {
                            const city = this.cities[0];
                            this.selected_key = city.key;
                            this.dest_city = city.city + "," + city.desc;
                        }
                    }
                });
            },
            peo_plus: function () {
                if (this.peo_key < 20) {
                    this.peo_key++;
                    this.peo_num = this.peo_key + " 人";
                }
            },
            peo_minus: function () {
                if (this.peo_key > 1) {
                    this.peo_key--;
                    this.peo_num = this.peo_key + " 人";
                }
            },
            room_plus: function () {
                if (this.room_key < 10) {
                    this.room_key++;
                    this.room_num = this.room_key + " 间";
                }
            },
            room_minus: function () {
                if (this.room_key > 1) {
                    this.room_key--;
                    this.room_num = this.room_key + " 间";
                }
            },
            peo_plus2: function () {
                if (this.peo_key2 < 20) {
                    this.peo_key2++;
                    this.peo_num2 = this.peo_key2 + " 人";
                }
            },
            peo_minus2: function () {
                if (this.peo_key2 > 1) {
                    this.peo_key2--;
                    this.peo_num2 = this.peo_key2 + " 人";
                }
            },
            room_plus2: function () {
                if (this.room_key2 < 10) {
                    this.room_key2++;
                    this.room_num2 = this.room_key2 + " 间";
                }
            },
            room_minus2: function () {
                if (this.room_key2 > 1) {
                    this.room_key2--;
                    this.room_num2 = this.room_key2 + " 间";
                }
            },
            searchHotels: function () {
                if (this.selected_key !== -1) {
                    searchHotel(this.dest_city, this.selected_key,
                        document.getElementById("date_input").value,
                        this.peo_key, this.room_key, 1);
                } else {
                    this.dest_input = '';
                    this.isOk = true;
                }
            },
            searchRooms: function () {
                this.rooms.splice(0, this.rooms.length);
                axios({
                    method: "post",
                    url: url_goto2,
                    data: JSON.stringify(this.v_options),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    if (response.status === 200) {
                        for (let i = 0; i < response.data.length; i++) {
                            this.rooms.push(response.data[i]);
                        }
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            checkBook: function (event) {
                let modalError = $("#modalError");
                if (this.v_options.dateInOut === "" || $("#date_input2").val() === "") {
                    this.errorTitle = "预定信息缺失";
                    this.errorMessage = "未选择入住与退房时间! 请检查!";
                    modalError.modal("show");
                    return
                }
                this.selectedRoom = this.rooms[event.currentTarget.dataset.id];
                $("#modalInfo").modal("show");
            },
            submitBook:function (){
                $("#modalInfo").modal("hide");
                $("#modalLoad").modal("show");
                axios({
                    method:"post",
                    url:this.infoUrl,
                    data:{
                        bookId:null,
                        userId:null,
                        hotelId:this.v_options.hotelId,
                        roomIndex:this.selectedRoom.roomIndex,
                        dateInOut:this.v_options.dateInOut,
                        checkInDate:null,
                        checkOutDate:null,
                        bookTime:null,
                        price:this.selectedRoom.price * this.v_options.bookDays * this.v_options.roomNum,
                        bookNum: this.v_options.roomNum
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response)=>{
                    if(response.status===200){
                        $("#modalLoad").modal("hide");
                        if(response.data.code === 200){
                            $("#modalSuccess").modal("show");
                            const message = "s后返回页面...";
                            this.errorMessage = "9" + message;
                            sleep(3000).then(()=>{
                                this.errorMessage = "6" + message;
                                sleep(3000).then(()=>{
                                    this.errorMessage = "3" + message;
                                    sleep(3000).then(()=>{
                                        this.errorMessage = "0" + message;
                                        $("#modalSuccess").modal("hide");
                                    });
                                });
                            });
                        }
                        else if(response.data.code === 201){
                            $("#modalError").modal("show");
                            this.errorTitle = "服务器出错！"
                            this.errorMessage = response.data.message;
                        }
                        else if(response.data.code === 202){
                            $("#modalError").modal("show");
                            this.errorTitle = "服务器出错！"
                            const message = "用户连接已断开!请重新登陆...";
                            this.errorMessage = message + "3s";
                            sleep(1000).then(()=>{
                                this.errorMessage = message + "2s";
                                sleep(1000).then(()=>{
                                    this.errorMessage = message + "1s";
                                    sleep(1000).then(()=>{
                                        this.errorMessage = message + "0s";
                                        $("#modalError").modal("hide");
                                        window.location.href = document.getElementById("userLogin").value;
                                    });
                                });
                            });
                        }
                        else if(response.data.code === 203){
                            $("#modalError").modal("show");
                            this.errorTitle = "账户余额不足!"
                            const message = "请充值!...跳转充值页面";
                            this.errorMessage = message + "3s";
                            sleep(1000).then(()=>{
                                this.errorMessage = message + "2s";
                                sleep(1000).then(()=>{
                                    this.errorMessage = message + "1s";
                                    sleep(1000).then(()=>{
                                        this.errorMessage = message + "0s";
                                        window.location.href = document.getElementById("userInfo").value;
                                    });
                                });
                            });
                        }
                    }
                }).catch((error)=>{
                    $("#modalLoad").modal("hide");
                    this.errorTitle = "服务出错";
                    this.errorMessage = error.messageerror;
                    $("#modalError").modal("show");
                });
            }
        },
        watch: {
            dest_input: function (input) {
                if (!this.isComplete && this.dest_input !== "") {
                    this.searchDest(this.dest_input);
                }
                if (this.dest_input === "") {
                    this.cities = [];
                    this.isComplete = false;
                    this.selected_key = -1;
                }
            },
            peo_key2: function () {
                this.canBook = true;
                const num_temp = this.peo_key2;
                setTimeout(() => {
                    if (num_temp === this.peo_key2) {
                        this.v_options.peopleNum = this.peo_key2;
                        this.searchRooms();
                        this.canBook = false;
                    }
                }, 1000);
            },
            room_key2: function () {
                this.canBook = true;
                const num_temp = this.room_key2;
                setTimeout(() => {
                    if (num_temp === this.room_key2) {
                        this.v_options.roomNum = this.room_key2;
                        this.searchRooms();
                        this.canBook = false;
                    }
                }, 1000);
            }
        }
    });
    app.mount("#search");

</script>
</body>
</html>