<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEU Booking-首页</title>
    <!-- CSS模板-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/css/index/theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/fontawesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/solid.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/brands.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/css/example.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/datepicker/daterangepicker.css}"/>
</head>
<body>
<!--菜单-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded py-4 fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}"><strong>SEU </strong>Booking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_example_1"
                aria-controls="navbar_example_1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar_example_1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">首页</a>
                </li>
                <li class="nav-item" th:if="${session.user == null}">
                    <a class="nav-link" th:href="@{/user}">
                        <i class="fa-solid fa-user"></i>
                        <span>登陆/注册</span>
                    </a>
                </li>
                <li class="nav-item dropdown" th:if="${session.user != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar_1_dropdown_3"
                       role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                        <span th:text="'您好,'+${session.user.userName}">用户姓名</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" th:href="@{/user/booking}">
                            <span class="float-right badge badge-primary" th:text="${session.bookNum}">0</span>
                            <i class="fa-solid fa-envelope text-primary"></i>订单
                        </a>
                        <a class="dropdown-item" th:href="@{/user/info}">
                            <i class="fa-solid fa-gear text-primary"></i>设置
                        </a>
                        <div class="dropdown-divider" role="presentation"></div>
                        <a class="dropdown-item" th:href="@{/user/logout}">
                            <i class="fas fa-sign-out-alt text-primary"></i>退出登陆
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">关于我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/A-BigTree">
                        <i class="fa-brands fa-github fa-2x"></i>
                        <span class="ml-2 d-lg-none">GitHub</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blog.csdn.net/weixin_53580595">
                        <i class="fa-solid fa-blog fa-2x"></i>
                        <span class="ml-2 d-lg-none">CSDN</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="main">
    <!--主界面-->
    <section class="slice slice-lg bg-primary bg-cover bg-size--cover"
             style="background-image:url('http://101.200.59.252/static/seu_hotel/image/index/background1.jpg')">
        <span class="mask bg-primary alpha-5"></span>
        <div class="container">
            <div class="row cols-xs-space text-md-left justify-content-center">
                <div class="col">
                    <div class="mt-5">
                        <img th:src="@{/static/seu_hotel/image/index/icon.png}" style="width: 100px;"
                             class="animated" data-animation-in="jackInTheBox"
                             data-animation-delay="1000" alt="设计图" src="">
                        <h1 class="heading font-weight-400 text-white mt-3 animated"
                            data-animation-in="fadeInUp" data-animation-delay="2000">
                            <span class="font-weight-700">SEU</span> Hotel Booking
                        </h1>
                        <p class="lead text-white mt-1 lh-180 c-white animated" data-animation-in="fadeInUp"
                           data-animation-delay="2500">
                            SEU Hotel Booking based on SSM Framework by <strong class="text-white">SEU
                            09020</strong>
                        </p>

                    </div>
                </div>
            </div>
            <div class="row cols-xs-space justify-content-start">
                <div class="col-4">
                    <form th:action="@{/user/sign}" class="align-items-end">
                        <button type="submit"
                                class="btn btn-lg btn-secondary btn-animated btn-animated-y">
                            <span class="btn-inner--visible">现在注册账号！</span>
                            <span class="btn-inner--hidden">
                                    <i class="fa-solid fa-user-plus"></i>
                                </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--搜索界面-->
    <section class="mt-4">
        <div class="container">
            <!--搜索界面-->
            <div class="row justify-content-center">
                <div class="col">
                    <div class="row text-left mb-2">
                        <div class="col">
                            <h1>酒店查询</h1>
                        </div>
                    </div>
                    <div class="row mb-4" id="search">
                        <input type="hidden" th:value="@{static/seu_hotel/json/city.json}" id="cityJson">
                        <input type="hidden" th:value="@{/hotel/search}" id="submitUrl">
                        <div class="col-md-4">
                            <div class="form-group mb-0">
                                <div class="input-group input-group-transparent mb-0">
                                    <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fa-solid fa-search"></i></span>
                                    </div>
                                    <label for="search_dest"></label>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="目的地"
                                           v-model="dest_input" @blur="clickInputOut()"
                                           id="search_dest" @click="clickInput()">
                                </div>
                            </div>
                            <div class="card mt-0 pre-scrollable" v-if="isSearch">
                                <div class="list-group" v-for="(city, index) in cities">
                                    <a href="javascript:void(0)" @click="selectedDest(index)"
                                       class="list-group-item list-group-item-action d-flex align-items-center">
                                        <div class="list-group-content">
                                            <div class="list-group-heading">
                                                {{city.city}}
                                                <span><small>{{city.desc}}</small></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div v-if="isOk">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <span class="alert-inner--icon"><i class="fas fa-times"></i></span>
                                    <span class="alert-inner--text">&nbsp;请选择目的地！</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>

                            <div class="mb-4"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group input-group-transparent mb-4"
                                     id="timeBucket">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa-solid fa-calendar"></i>
                                        </span>
                                    </div>
                                    <label for="date_input"></label>
                                    <input id="date_input"
                                           type="text" class="form-control"
                                           name="datefilter"
                                           placeholder="入住日期-退房日期">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group input-group-transparent mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa-solid fa-user"></i>
                                                </span>
                                            </div>
                                            <label for="people_num"></label>
                                            <input type="text" class="form-control text-center"
                                                   placeholder="居住人数" v-model="peo_num"
                                                   id="people_num" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary"
                                                        type="button" @click="peo_plus()">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary"
                                                        type="button" @click="peo_minus()">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group input-group-transparent mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa-solid fa-bed"></i>
                                                </span>
                                            </div>
                                            <label for="room_num"></label>
                                            <input type="text" class="form-control text-center"
                                                   placeholder="房间人数" v-model="room_num"
                                                   id="room_num" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary"
                                                        type="button" @click="room_plus()">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary"
                                                        type="button" @click="room_minus()">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" @click="searchHotels()"
                                    class="btn btn-primary btn-lg btn-animated btn-animated-y mt-0">
                                            <span class="btn-inner--visible">
                                                查酒店
                                            </span>
                                <span class="btn-inner--hidden">
                                                <i class="fa-solid fa-search"></i>
                                            </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--推荐界面-->
            <div class="row justify-content-center">
                <div class="col">
                    <div class="row text-left mb-2 mt-4">
                        <div class="col">
                            <h1>爆款目的地</h1>
                            <p>中国游客热门之选</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cols-xs-space cols-sm-space cols-md-space mb-5">
                <div class="col-lg-6">
                    <div class="card bg-dark alpha-container text-white border-0 overflow-hidden z-depth-3">
                        <a href="" target="_blank">
                            <div class="card-img-bg"
                                 style="background-image: url('http://101.200.59.252/static/seu_hotel/image/index/re1.jpg');"></div>
                            <span class="mask bg-dark alpha-5 alpha-4--hover"></span>
                            <div class="card-body px-5 py-5">
                                <div style="min-height: 200px;">
                                    <h3 class="heading h1 text-white mb-3">
                                        重庆
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card bg-dark alpha-container text-white border-0 overflow-hidden z-depth-3">
                        <a href="" target="_blank">
                            <div class="card-img-bg"
                                 style="background-image: url('http://101.200.59.252/static/seu_hotel/image/index/re2.jpg');"></div>
                            <div class="card-body px-5 py-5">
                                <div style="min-height: 200px;">
                                    <h3 class="heading h1 text-white mb-3">
                                        成都
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row cols-xs-space cols-sm-space cols-md-space mb-5">
                <div class="col-lg-4">
                    <div class="card bg-dark alpha-container text-white border-0 overflow-hidden z-depth-3">
                        <a href="" target="_blank">
                            <div class="card-img-bg"
                                 style="background-image: url('http://101.200.59.252/static/seu_hotel/image/index/re3.jpg');"></div>
                            <span class="mask bg-dark alpha-5 alpha-4--hover"></span>
                            <div class="card-body px-5 py-5">
                                <div style="min-height: 200px;">
                                    <h3 class="heading h1 text-white mb-3">
                                        上海
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-dark alpha-container text-white border-0 overflow-hidden z-depth-3">
                        <a href="" target="_blank">
                            <div class="card-img-bg"
                                 style="background-image: url('http://101.200.59.252/static/seu_hotel/image/index/re4.jpg');"></div>
                            <div class="card-body px-5 py-5">
                                <div style="min-height: 200px;">
                                    <h3 class="heading h1 text-white mb-3">
                                        北京
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-dark alpha-container text-white border-0 overflow-hidden z-depth-3">
                        <a href="" target="_blank">
                            <div class="card-img-bg"
                                 style="background-image: url('http://101.200.59.252/static/seu_hotel/image/index/re9.jpg');"></div>
                            <div class="card-body px-5 py-5">
                                <div style="min-height: 200px;">
                                    <h3 class="heading h1 text-white mb-3">
                                        广州
                                    </h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="row text-left mb-2">
                        <div class="col">
                            <h1>热门中国</h1>
                            <p>这些热门目的地精彩纷呈</p>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 mb-4">
                        <div class="col">
                            <a href="" target="_blank">
                                <div class="card h-100 z-depth-3">
                                    <img th:src="@{/static/seu_hotel/image/index/re5.jpg}"
                                         class="card-img-top" alt="..." src="">
                                    <div class="card-body">
                                        <h5 class="card-title">西昌</h5>
                                        <p class="card-text">58家住宿</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="">
                                <div class="card h-100 z-depth-3">
                                    <img th:src="@{/static/seu_hotel/image/index/re6.jpg}" src="" class="card-img-top"
                                         alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">阳朔</h5>
                                        <p class="card-text">300家住宿</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="">
                                <div class="card h-100 z-depth-3">
                                    <img th:src="@{/static/seu_hotel/image/index/re7.jpg}" src="" class="card-img-top"
                                         alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">长沙</h5>
                                        <p class="card-text">347家住宿</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a href="">
                                <div class="card h-100 z-depth-3">
                                    <img th:src="@{/static/seu_hotel/image/index/re8.jpg}" src="" class="card-img-top"
                                         alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">三亚</h5>
                                        <p class="card-text">425家住宿</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

<!--Boomerang theme js-->
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/theme.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/datepicker/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/datepicker/daterangepicker.js}"></script>

<!--Vue3 + Axios-->
<script th:src="@{/static/seu_hotel/script/vue.global.js}"></script>
<script th:src="@{/static/seu_hotel/script/axios.min.js}"></script>
<!--Vue绑定函数-->
<script type="text/javascript">
    const city_json = document.getElementById("cityJson").value;
    const url_goto = document.getElementById("submitUrl").value;

    function searchHotel(city, dest, dateInOut, people_num, room_num, page) {
        window.location.href = url_goto + "?city=" + city + "&dest=" + dest +
            "&date=" + dateInOut + "&people=" + people_num +
            "&rooms=" + room_num + "&page=" + page;
    }

    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    const {createApp} = Vue;
    const app = createApp({
        data() {
            return {
                cities: [],
                city_data: [],
                selected_key: -1,
                dest_input: "",
                dest_city: "",
                isComplete: false,
                peo_num: "2 人",
                room_num: "1 间",
                peo_key: 2,
                room_key: 1,
                isSearch: false,
                isOk: false
            }
        },
        mounted() {
            axios({
                method: 'post',
                url: city_json
            }).then((response) => {
                if (response.status === 200) {
                    this.city_data = response.data;
                }
            }).catch(function (error) {
                console.log(error);
            });
        },
        methods: {
            searchDest: function (dest) {
                const res_list = [];
                const patten1 = new RegExp(dest);
                const patten2 = new RegExp("[" + dest + "]");
                for (let i = 0; i < this.city_data.length; i++) {
                    if (patten1.test(this.city_data[i].city)) {
                        res_list.push(this.city_data[i]);
                    }
                }
                if (res_list.length < 0) {
                    for (let i = 0; i < this.city_data.length; i++) {
                        if (patten2.test(this.city_data[i].city)) {
                            res_list.push(this.city_data[i]);
                        }
                    }
                }
                res_list.push("#");
                this.cities = res_list;
                this.cities.pop();
            },
            selectedDest: function (index) {
                this.isComplete = true;
                const city = this.cities[index];
                this.selected_key = city.key;
                this.dest_city = city.city + "," + city.desc;
                this.cities.splice(0, this.cities.length);
                this.dest_input = city.city + " " + city.desc;

            },
            clickInput: function () {
                this.isSearch = true;
                this.isOk = false;
                if (this.dest_input === "") {
                    this.cities = [
                        {"city": "北京市", "desc": "北京市", "key": 1101},
                        {"city": "上海市", "desc": "上海市", "key": 3101},
                        {"city": "深圳市", "desc": "广东省", "key": 4403},
                        {"city": "杭州市", "desc": "浙江省", "key": 3301}
                    ];
                } else {
                    this.searchDest(this.dest_input);
                }
            },
            clickInputOut: function () {
                sleep(500).then(() => {
                    this.isSearch = false;
                    if (!this.isComplete && this.dest_input !== "") {
                        if (this.cities.length > 0) {
                            const city = this.cities[0];
                            this.selected_key = city.key;
                            this.dest_city = city.city + "," + city.desc;
                        }
                    }
                });
            },
            peo_plus: function () {
                if (this.peo_key < 20) {
                    this.peo_key++;
                    this.peo_num = this.peo_key + " 人";
                }
            },
            peo_minus: function () {
                if (this.peo_key > 1) {
                    this.peo_key--;
                    this.peo_num = this.peo_key + " 人";
                }
            },
            room_plus: function () {
                if (this.room_key < 10) {
                    this.room_key++;
                    this.room_num = this.room_key + " 间";
                }
            },
            room_minus: function () {
                if (this.room_key > 1) {
                    this.room_key--;
                    this.room_num = this.room_key + " 间";
                }
            },
            searchHotels: function () {
                if (this.selected_key !== -1) {
                    searchHotel(this.dest_city, this.selected_key,
                        document.getElementById("date_input").value,
                        this.peo_key, this.room_key, 1);
                } else {
                    this.dest_input = '';
                    this.isOk = true;
                }
            }
        },
        watch: {
            dest_input: function (input) {
                if (!this.isComplete && this.dest_input !== "") {
                    this.searchDest(this.dest_input);
                }
                if (this.dest_input === "") {
                    this.cities = [];
                    this.isComplete = false;
                    this.selected_key = -1;
                }
            }
        }
    });
    app.mount("#search");

</script>
<!--日期选择函数-->
<script type="text/javascript">
    const timeElapsed = Date.now();
    const today = new Date(timeElapsed);
    $(function () {
        $('input[name="datefilter"]').daterangepicker({
            autoUpdateInput: false,
            minDate: today,
            autoApply: true,
            locale: {
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                    '七月', '八月', '九月', '十月', '十一月', '十二月']
            }
        });

        $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + '-' + picker.endDate.format('MM/DD/YYYY'));
        });
        $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    });
</script>
</body>
</html>