<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/css/index/theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/fontawesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/solid.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/bootstrap-select/css/bootstrap-select.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/brands.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-primary py-4">
    <div class="container">
        <a class="navbar-brand" href="/"><strong>SEU</strong> Booking</a>
        <button class="navbar-toggler" type="button" data-action="offcanvas-open" data-target="#navbar_main"
                aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
            <ul class="navbar-nav ml-auto align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">首页</a>
                </li>
                <li class="nav-item active" th:if="${session.user == null}">
                    <a class="nav-link" th:href="@{/user/login}">
                        <i class="fa-solid fa-user"></i>
                        登陆/注册
                    </a>
                </li>
                <li class="nav-item" th:if="${session.user != null}">
                    <a class="nav-link" th:href="@{/user/info}" th:text="您好,${session.user.userName}">
                        <i class="fa-solid fa-user"></i>
                        显示用户姓名
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">关于我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/A-BigTree">
                        <i class="fa-brands fa-github fa-2x"></i>
                        <span class="ml-2 d-lg-none">GitHub</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blog.csdn.net/weixin_53580595">
                        <i class="fa-solid fa-blog fa-2x"></i>
                        <span class="ml-2 d-lg-none">CSDN</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--主界面-->
<main class="main">
    <section class="py-xl bg-cover bg-size--cover"
             style="background-image:url('http://101.200.59.252/static/seu_hotel/image/index/background.jpg')">
        <span class="mask bg-primary alpha-6"></span>
        <div class="container d-flex align-items-center no-padding">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <span class="clearfix"></span>
                                <img th:src="@{/static/seu_hotel/image/index/icon.png}" style="width: 50px;" src=""
                                     alt="">
                                <h4 class="heading h3 text-white pt-3 pb-5">欢迎回来，<br>
                                    登陆您的账号</h4>
                                <form class="form-primary">
                                    <div class="form-group">
                                        <label for="email"></label>
                                        <input type="email" class="form-control" id="email" placeholder="Your email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password"></label>
                                        <input type="password" class="form-control" id="password" placeholder="密码">
                                    </div>
                                    <div class="text-right mt-4"><a href="/user/forget" class="text-white">忘记密码？</a>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-lg bg-white mt-4">登陆</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--Boomerang theme js-->


<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/bootstrap-select/js/bootstrap-select.js}"></script>

<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/theme.js}"></script>
</body>
</html>