<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/css/index/theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/fontawesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/solid.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/bootstrap-select/css/bootstrap-select.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/seu_hotel/fontawesome/css/brands.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-primary py-4">
    <div class="container">
        <a id="home" class="navbar-brand" th:href="@{/}"><strong>SEU</strong> Booking</a>
        <button class="navbar-toggler" type="button" data-action="offcanvas-open" data-target="#navbar_main"
                aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
            <ul class="navbar-nav ml-auto align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">首页</a>
                </li>
                <li class="nav-item active" th:if="${session.user == null}">
                    <a class="nav-link" th:href="@{/user}">
                        <i class="fa-solid fa-user"></i>
                        <span>登陆/注册</span>
                    </a>
                </li>
                <li class="nav-item dropdown" th:if="${session.user != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar_1_dropdown_3"
                       role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                        <span th:text="'您好,'+${session.user.userName}">用户姓名</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" th:href="@{/user/booking}">
                            <span class="float-right badge badge-primary" th:text="${session.bookNum}">0</span>
                            <i class="fa-solid fa-envelope text-primary"></i>订单
                        </a>
                        <a class="dropdown-item" th:href="@{/user/info}">
                            <i class="fa-solid fa-gear text-primary"></i>设置
                        </a>
                        <div class="dropdown-divider" role="presentation"></div>
                        <a class="dropdown-item" th:href="@{/user/logout}">
                            <i class="fas fa-sign-out-alt text-primary"></i>退出登陆
                        </a>
                    </div>
                    <!--
                    <a class="nav-link" th:href="@{/user/info}">
                        <i class="fa-solid fa-user"></i>
                        <span th:text="'您好,'+${session.user.userName}">用户姓名</span>
                    </a>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">关于我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/A-BigTree">
                        <i class="fa-brands fa-github fa-2x"></i>
                        <span class="ml-2 d-lg-none">GitHub</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blog.csdn.net/weixin_53580595">
                        <i class="fa-solid fa-blog fa-2x"></i>
                        <span class="ml-2 d-lg-none">CSDN</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--主界面-->
<main class="main">
    <section class="py-xl bg-cover bg-size--cover"
             style="background-image:url('http://101.200.59.252/static/seu_hotel/image/index/background.jpg')">
        <span class="mask bg-primary alpha-6"></span>
        <div class="container d-flex align-items-center no-padding">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <span class="clearfix"></span>
                                <img th:src="@{/static/seu_hotel/image/index/icon.png}" style="width: 50px;" src=""
                                     alt="">
                                <h4 class="heading h3 text-white pt-3 pb-1">欢迎回来，<br>
                                    登陆您的账号</h4>
                                <label>
                                    <input type="hidden" id="urlSubmit" th:value="@{/user/login}">
                                </label>
                                <div class="form-primary" id="app">
                                    <div class="form-group">
                                        <label for="account"></label>
                                        <input type="email" class="form-control" id="account" placeholder="邮箱"
                                               :disabled="isDis"
                                               v-model="acc">
                                    </div>
                                    <div class="form-group">
                                        <label for="password"></label>
                                        <input type="password" class="form-control" id="password" placeholder="密码"
                                               :disabled="isDis"
                                               v-model="pwd">
                                    </div>
                                    <div class="alert alert-shadow alert-dismissible fade show"
                                         :class="{'alert-info':isNormal,'alert-warning':isWarn,'alert-danger':isDanger, 'alert-success':isSuccess}"
                                         role="alert">
                                        <span class="alert-inner--text"><i class="fa-solid fa-exclamation"></i>&nbsp;{{infoMessage}}</span>
                                    </div>
                                    <div class="text-left mt-2">
                                        <a class="text-white" th:href="@{/user/sign}">注册&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <a class="text-white"
                                           th:href="@{/user/forget}">&nbsp;&nbsp;&nbsp;&nbsp;忘记密码？</a>
                                    </div>

                                    <button type="button" id="submit"
                                            class="btn btn-block btn-lg bg-white mt-4"
                                            :disabled="isDis"
                                            @click="loginUser">登陆
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--Boomerang theme js-->
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/bootstrap-select/js/bootstrap-select.js}"></script>
<script type="text/javascript" th:src="@{/static/seu_hotel/script/index/theme.js}"></script>
<!--Vue3 + Axios-->
<script th:src="@{/static/seu_hotel/script/vue.global.js}"></script>
<script th:src="@{/static/seu_hotel/script/axios.min.js}"></script>
<!--自定义函数区-->
<script type="text/javascript">
    const url = document.getElementById("urlSubmit").value;
    const {createApp} = Vue;
    const email_verify = /^\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}/;

    function sleep(time){
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    const app = createApp({
        data() {
            return {
                isNormal: true,
                isWarn: false,
                isDanger: false,
                isSuccess:false,
                isDis:false,
                infoMessage: "请输入账号密码",
                isAcc: false,
                isPwd: false,
                acc: "",
                pwd: ""
            }
        },
        methods: {
            loginUser: function () {
                if (email_verify.test(this.acc)) {
                    this.isAcc = true;
                }
                if (this.pwd !== "") {
                    this.isPwd = true;
                }
                if (this.isAcc && this.isPwd) {
                    this.isDis=true;
                    const button = document.getElementById("submit");
                    button.innerText = '';
                    button.innerHTML = '<li class="fa-solid fa-spinner fa-spin"></li>'
                    this.infoMessage="正在登陆...";
                    axios({
                        method: "post",
                        url: url,
                        params: {
                            account: this.acc,
                            passwd: this.pwd
                        }
                    }).then((response) => {
                        if (response.data.code === 200) {
                            this.isNormal = false;
                            this.isWarn = false;
                            this.isDanger = false;
                            this.isSuccess = true;
                            const messageInfo = "登陆成功!正在返回首页...";
                            this.infoMessage = messageInfo + "3s";
                            sleep(1000).then(() => {
                                this.infoMessage = messageInfo + "2s";
                                sleep(1000).then(()=>{
                                    this.infoMessage = messageInfo + "1s";
                                    sleep(1000).then(()=>{
                                        this.infoMessage = messageInfo + "0s";
                                        window.location.replace(response.data.message);
                                    });
                                });
                            });
                        }
                        else if(response.data.code===201) {
                            this.isDis=false;
                            this.isNormal = false;
                            this.isWarn = false;
                            this.isDanger = true;
                            this.infoMessage = "账号/密码错误！请重试！"
                            button.innerHTML='';
                            button.innerText='登陆';
                        }
                        else{
                            this.isDis=false;
                            this.isNormal = false;
                            this.isWarn = false;
                            this.isDanger = true;
                            this.infoMessage = "用户不存在！请重试！"
                            button.innerHTML='';
                            button.innerText='登陆';
                        }
                    }).catch(function (error) {
                        console.log(error)
                    });
                }
                else if (!this.isAcc) {
                    this.isNormal = false;
                    this.isWarn = true;
                    this.isDanger = false;
                    this.infoMessage = "请输入正确邮箱格式！"
                }
                else {
                    this.isNormal = false;
                    this.isWarn = true;
                    this.isDanger = false;
                    this.infoMessage = "请输入密码！"
                }
            }
        },
        watch:{
            acc: function (inputValue){
                this.isNormal = false;
                this.isWarn = true;
                this.isDanger = false;
                if (email_verify.test(inputValue)) {
                    this.isAcc = true;
                    this.infoMessage = "请输入密码！"
                }else{
                    this.isAcc = false
                    this.infoMessage = "请输入正确邮箱格式！"
                }
            },
            pwd: function (inputValue){
                    if (inputValue !== "") {
                        this.isNormal = true;
                        this.isWarn = false;
                        this.isDanger = false;
                        this.isPwd=true;
                        this.infoMessage = "请登录"
                    } else {
                        this.isNormal = false;
                        this.isWarn = true;
                        this.isDanger = false;
                        this.isPwd=false;
                        this.infoMessage = "请输入密码！"
                    }
            }
        }
    });
    app.mount("#app");


</script>


</body>
</html>