<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="booking.mapper.BookingMapper">

    <insert id="addBooking">
        INSERT  INTO booking (user_id, hotel_id, room_index, check_in_date, check_out_date, price, book_num)
        VALUES (#{userId},#{hotelId},#{roomIndex},#{checkInDate},#{checkOutDate},#{price},#{bookNum});
    </insert>


    <update id="modifyBooking">
        UPDATE booking
        <set>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
            <if test="hotelId!=null">
                hotel_id=#{hotelId},
            </if>
            <if test="roomIndex!=null">
                room_index=#{roomIndex},
            </if>
            <if test="checkInDate!=null">
                check_in_date=#{checkInDate},
            </if>
            <if test="checkOutDate!=null">
                check_out_date=#{checkOutDate},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
        </set>
        <where>
            book_id=#{bookId}
        </where>
    </update>

    <delete id="removeBooking">
        DELETE FROM booking WHERE book_id=#{bookId}
    </delete>

    <select id="selectBookingByUser" resultType="booking.entity.BookingManager">
        SELECT book_id bookId,
               user_id userId,
               hotel_id hotelId,
               room_index roomIndex,
               check_in_date checkIndate,
               check_out_date checkOutDate,
               book_time bookTime,
               book_num bookNum,
               price
        FROM booking WHERE user_id=#{userId};
    </select>
    <select id="selectBookingByHotel" resultType="booking.entity.BookingManager">

    </select>
    <select id="selectBooking" resultType="booking.entity.BookingManager">
        SELECT book_id bookId,
               user_id userId,
               hotel_id hotelId,
               room_index roomIndex,
               check_in_date checkIndate,
               check_out_date checkOutDate,
               book_time bookTime,
               book_num bookNum,
               price
        FROM booking WHERE book_id=#{bookId};
    </select>
</mapper>