<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="booking.mapper.HotelInfoMapper">

    <select id="selectHotelByParams" resultType="booking.entity.HotelInfo">
        SELECT DISTINCT info.hotel_id hotelId, hotel_name hotelName,
                        dest_id destId, image_num imageNum,address,
                        point, star, info.description simpleDesc,
                        can_book canBook, MIN(rooms.price) roomPrice
        FROM info,rooms
        <where>
            info.hotel_id=rooms.hotel_id
            <if test="startDest!=null">
                AND dest_id &gt;=#{startDest}
            </if>
            <if test="endDest!=null">
                AND dest_id &lt;#{endDest}
            </if>
            <if test="startPoint!=null">
                AND point &gt;=#{startPoint}
            </if>
            <if test="endPoint!=null">
                AND point &lt;#{endPoint}
            </if>
            <if test="stars!=null">
                AND star IN
                <foreach collection="stars" open="(" separator="," close=")" item="star">
                    #{star}
                </foreach>
            </if>
            <if test="destList!=null">
                AND dest_id IN
                <foreach collection="destList" open="(" separator="," close=")" item="dest">
                    #{dest}
                </foreach>
            </if>
            <if test="peopleNum!=null">
                AND people_num &gt;=#{peopleNum}
            </if>
            <if test="roomNum!=null">
                AND room_num &gt;=#{roomNum}
            </if>
            <if test="startPrice!=null">
                AND price &gt;=#{startPrice}
            </if>
            <if test="endPrice!=null">
                AND price &lt;#{endPrice}
            </if>
            <if test="isQueryRecord">

            </if>
        </where>
        GROUP BY info.hotel_id
    </select>

    <select id="selectHotelById" resultType="booking.entity.HotelInfo">
        SELECT hotel_id hotelId, hotel_name hotelName,dest_id destId,
               address, point, star, image_num imageNum, description simpleDesc,
               can_book canBook
        FROM info WHERE hotel_id=#{hotelId}
    </select>
    <select id="selectDesById" resultType="booking.entity.Description">
        SELECT hotel_id hotelId, desc_index descIndex, description
        FROM desc_hotel
        WHERE hotel_id=#{hotelId}
        ORDER BY desc_index;
    </select>
    <select id="selectRoomById" resultType="booking.entity.Room">
        SELECT hotel_id hotelId, room_index roomIndex, room_name roomName,
               description,capacity,price,room_num roomNum, people_num peopleNum
        FROM rooms WHERE hotel_id=#{hotelId}
    </select>
    <select id="selectPoliesById" resultType="booking.entity.Policy">
        SELECT hotel_id hotelId, p_title pTitle, p_desc pDesc
        FROM policies WHERE hotel_id=#{hotelId}
    </select>
    <select id="selectCityById" resultType="booking.entity.City">
        SELECT city_id cityId,city_name cityName,p_id levelId
        FROM city
        WHERE city_id=#{cityId};
    </select>
    <select id="selectCityByLevel" resultType="booking.entity.City">
        SELECT city_id cityId,city_name cityName,p_id levelId
        FROM city
        WHERE p_id=#{cityId}
    </select>
    <select id="selectRoomByOptions" resultType="booking.entity.Room">
        SELECT hotel_id hotelId, rooms.room_index roomIndex, room_name roomName,
               description,capacity,price,rooms.room_num-X.num roomNum, people_num peopleNum
        FROM rooms,(SELECT room_index,COUNT(*) num
                        FROM booking
                        WHERE hotel_id=#{hotelId} AND (check_in_date &lt;= #{dateIn} OR check_out_date &gt;= #{dateOut})
                        GROUP BY room_index) X
        WHERE rooms.room_index=X.room_index AND rooms.people_num &gt;= #{peopleNum} AND rooms.hotel_id=#{hotelId}
    </select>
</mapper>